.box
  .box-header.with-border
    %h3.box-title
      -# i18n-tasks-use t('activerecord.models.message')
      = Message.model_name.human
    .box-tools.pull-right
      = link_to new_message_path, class: "btn btn-default btn-xs" do
        %i.fa.fa-plus-square-o
        = t("passend.resources.new")
  .box-body.table-responsive
    %table.table.table-bordered
      %thead
        %tr
          %th
            -# i18n-tasks-use t('activerecord.attributes.message.uuid')
            = Message.human_attribute_name(:uuid)
          %th
            -# i18n-tasks-use t('activerecord.attributes.message.body')
            = Message.human_attribute_name(:body)
          %th
            -# i18n-tasks-use t('activerecord.attributes.message.emails')
            = Message.human_attribute_name(:emails)
          %th
            -# i18n-tasks-use t('activerecord.attributes.message.created_at')
            = Message.human_attribute_name(:created_at)
          %th
            = t("passend.actions.operation")
      %tbody
        - messages.each do |message|
          %tr
            %td
              = message.uuid
            %td
              = message.body
            %td
              = message.emails
            %td
              = message.created_at
            %td
              = link_to message_path(uuid: message.uuid), class: "btn btn-default btn-xs" do
                %i.fa.fa-file-o
                = t("passend.resources.show")
              = link_to edit_message_path(uuid: message.uuid), class: "btn btn-default btn-xs" do
                %i.fa.fa-edit
                = t("passend.resources.edit")
              = link_to message_path(uuid: message.uuid), method: :delete, class: "btn btn-default btn-xs", data: {confirm: t("passend.actions.delete_are_you_sure")} do
                %i.fa.fa-trash-o
                = t("passend.resources.delete")
