%dt<>
  -# i18n-tasks-use t('activerecord.attributes.message.body')
  = Message.human_attribute_name(:body)
%dd
  %strong<>
    %span#clipboard_message
      = message.body
    %button.btn.btn-default.btn-xs.clipboard-btn{data: { clipboard: { target: "#clipboard_message"}} }
      %i.fa.fa-clipboard
%dt<>
  -# i18n-tasks-use t('activerecord.attributes.message.uuid')
  = Message.human_attribute_name(:uuid)
%dd
  = message.uuid
%dt<>
  = t("passend.resources.from")
%dd
  = message.user.email
%dt<>
  -# i18n-tasks-use t('activerecord.attributes.message.created_at')
  = Message.human_attribute_name(:created_at)
%dd
  = message.created_at
