<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Edit</div>

      <%= form_for(@message) do |f| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <br>
            <div class="form-group">
              <%= f.text_field :body, class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit  class: "btn btn-default" %>
            </div>
            <br>
          </div>
        </div>
          
      <% end %>

    </div>

    <div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Destinations</li>
        <% @message.destinations.each do |destination| %>
          <li class="list-group-item">
            <%= destination.email %> 
            <%= link_to destination_path(destination.id), method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
