<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= link_to new_message_path, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span> New Message
    <% end %>
    <br>
    <br>

    <table class="table table-bordered table-responsive">
      <colgroup>
        <col class="col-md-7">
        <col class="col-md-1">
        <col class="col-md-1">
        <col class="col-md-1">
      </colgroup>
      <thead>
        <tr>
          <th>Body</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.body %></td>
            <td>
              <%= link_to message_path(message.id) do %>
                <span class="glyphicon glyphicon-file"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_message_path(message) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
            </td>
            <td>
              <%= link_to message_path(message.id), method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>