<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Edit</div>

      <%= form_for(@message) do |f| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <br>
            <div class="form-group">
              <%= f.label :body, "Password" %><br>
              <%= f.text_field :body, class: "form-control" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>

            <div class="form-group">
              <%= f.label :emails, "Email List" %><br>
              <%= f.text_field :emails, class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit  class: "btn btn-default" %>
            </div>
            <br>
          </div>
        </div>
          
      <% end %>

    </div>
  </div>
</div>
