<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="cocuu is setcions creation services.">
  <title>Passend</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css' %>
  <%= javascript_include_tag '//code.jquery.com/jquery-2.1.1.min.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

  <% if notice.present? or alert.present? %>
  <div class="row">
    <% if notice.present? %>
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-info"><p><%= notice %></p></div>
    </div>
    <% end %>
    <% if alert.present? %>
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-danger"><p><%= alert %></p></div>
    </div>
    <% end %>
  </div>
  <% end %>

<%= yield %>

</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <hr>
        <p class="text-right">
          <span class="text-muted"><a href="https://github.com/masoo/passend">&copy;FUNABARA Masao<a></span>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
